.no-style {
  text-decoration: none !important;
  color: inherit !important;
}

.tabs button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.active-tab {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
